// Engine states
ENGINE.ANTIALIAS 0
ENGINE.CELLSHADING 0
ENGINE.CLIP 1
ENGINE.FOV 50
ENGINE.FRUSTUM 1
ENGINE.LOD 0
ENGINE.MULTITEXTURING 0
ENGINE.SCREENHEIGHT 600
ENGINE.SCREENWIDTH 800
//ENGINE.SCREENHEIGHT 768
//ENGINE.SCREENWIDTH 1366
ENGINE.FULLSCREEN 0
ENGINE.MULTISAMPLING 0
ENGINE.SHADOWS 0
ENGINE.SPHEREBOUNDINGS 0
ENGINE.VIEWWIDTH 16
//ENGINE.VSYNC 0
